/* Variables */
:root {
    --main-color: #19c8fa;
    --section-padding: 100px;
    --transparent-color: rgb(15 116 143 / 70%);
}

/* Setup */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-transform: capitalize;
    text-decoration: none;
}

.special-heading {
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 70px;
}

.special-heading::before, .special-heading::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 180px;
}

.special-heading::after {
    background-color: #333;
    width: 125px;
    height: 2px;
}

.special-heading::before {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #333;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 2;
}

.special-heading + p {
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: #777;
    text-align: center;
}

section {
    position: relative;
    padding: var(--section-padding) 0;
}

.container {
    margin: auto;
    padding: 0 15px;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Header */
header {
    background-color: transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

header .container {
    height: 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .container::before {
    content: '';
    position: absolute;
    height: 1px;
    width: calc(100% - 30px);
    bottom: 0;
    left: 15px;
    background-color: #a2a2a2;
    z-index: -1;
}

header :is(nav, ul) {
    display: flex;
    align-items: center;
}

header nav a {
    color: #fff;
    font-size: 14px;
    padding: 38px 10px;
    transition-duration: 0.3s;
    transition-property: border-color, color;
    border-bottom: 1px solid #a2a2a2;
}

header nav a:hover {
    color: var(--main-color);
    border-color: var(--main-color);
}

header nav a.active {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

header nav i:first-child {
    cursor: pointer;
    color: #fff;
    font-size: 22px;
    display: none;
}

header nav i:last-child {
    cursor: pointer;
    position: relative;
    color: #fff;
    font-size: 20px;
    margin-left: 30px;
    padding-left: 20px;
}

header nav i:last-child::after {
    content: '';
    position: absolute;
    height: 30px;
    background-color: #fff;
    width: 1px;
    left: 0;
    top: -5px;
}

header img[alt="Logo"] {
    height: 40px;
}

@media (max-width: 767px) {
    header .container {
        width: calc(100vw - 20px);
        height: 80px;
    }

    header nav ul {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        top: 100%;
        left: 15px;
        position: absolute;
        width: calc(100% - 30px);
        align-items: stretch;
        background-color: rgb(0 0 0 / 50%);
    }

    header nav i:first-child {
        display: block;
    }

    header nav a {
        display: block;
        padding: 15px;
    }
}

/* Landing page */
main {
    background-color: #1f2021;
    background: url("../images/landing.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

main::after, .design::after, .video::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 60%);
}

main>* {
    z-index: 2;
}

main .container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 50%;
    background-color: var(--transparent-color);
    color: #fff;
    padding: 50px;
    display: flex;
    justify-content: flex-end;
    line-height: 1.5;
}

main .container article {
    max-width: 500px;
}

main .container h1 {
    margin-top: 0;
    font-weight: 500;
}

main .container p {
    line-height: 2;
    font-size: 14px;
}

main .arrow {
    width: fit-content;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
    cursor: pointer;
    font-size: 1.8em;
}

.fa-angle-left {
    left: 20px;
}

.fa-angle-right {
    right: 20px;
}

.bullets {
    position: absolute;
    bottom: 30px;
    display: flex;
    left: 50%;
    gap: 10px;
    transform: translateX(-50%);
}

.bullets li {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.bullets li:nth-of-type(odd) {
    border: 1px solid #fff;
}

.bullets li:nth-of-type(even) {
    background-color: var(--main-color);
}

@media (max-width: 767px) {
    main .container {
        width: 100%;
        justify-content: flex-start;
    }

    main .container article {
        max-width: 100%;
    }

    main .arrow {
        display: none;
    }
}

/* Services section */
.services .container .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 60px 40px;
}

.services .container .content .service {
    display: flex;
    gap: 50px;
}

.services .container .content .service h3 {
    color: var(--main-color);
    margin-bottom: 30px;
}

.services .container .content .service p {
    line-height: 2;
    color: #777;
}

@media (max-width: 767px) {
    .services .container .content {
        grid-template-columns: 100%;
        row-gap: 30px;
    }

    .services .container .content .service {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }
}

/* Design Features */
.design {
    background: url("../images/design-features.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: 600px;
    overflow: hidden;
}

.design > * {
    flex: 1;
    position: relative;
    z-index: 1;
}

.design article {
    padding: 50px;
    color: #fff;
    background-color: var(--transparent-color);
}

.design article h2 {
    font-weight: normal;
    margin-bottom: 40px;
}

.design article ul {
    line-height: 3;
}

.design article i {
    margin-right: 20px;
}

.design .image {
    height: 100%;
    position: relative;
}

.design img {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

@media (max-width: 767px) {
    .design .image {
        display: none;
    }

    .design article {
        padding: 50px 20px;
    }
}

/* Portfolio section */
.portfolio .special-heading + p {
    margin-bottom: 30px;
}

.portfolio .filter {
    margin-bottom: 100px;
    display: flex;
    text-transform: capitalize;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.portfolio .filter li:first-child {
    background-color: var(--main-color);
    color: #fff;
    padding: 10px;
    border-radius: 2px;
}

.portfolio .images {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}

.portfolio .image {
    overflow: hidden;
    position: relative;
}

.portfolio .caption {
    left: 0;
    width: 100%;
    background-color: #fff;
    transition: bottom 0.3s;
    position: absolute;
    bottom: -70px;
    padding: 15px 20px;
}

.portfolio .caption p:first-child {
    font-size: 1.1em;
    margin-bottom: 5px;
}

.portfolio .caption p:last-child {
    color: var(--main-color);
}

.portfolio .image img {
    width: 100%;
    border-radius: 5px;
    transition: transform 0.3s;
}

.portfolio .image:hover img {
    transform: scale(1.1) rotate(3deg);
}

.portfolio .image:hover .caption {
    bottom: 0;
}

.portfolio a, .video .content a {
    text-transform: uppercase;
    display: block;
    width: fit-content;
    margin: auto;
    color: #fff;
    background-color: var(--main-color);
    padding: 15px;
    border-radius: 5px;
    margin-top: 30px;
}

@media (min-width: 992px) {
    .portfolio .images .image:last-child,
    .portfolio .images .image:nth-last-child(2) {
        transform: translateX(50%);
    }
}

/* Video section */
.video {
    position: relative;
}

.video video {
    width: 100%;
}

.video::after {
    background-color: rgba(0 0 0 / 40%);
}

.video::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    left: 0;
    height: 4px;
    z-index: 1;
}

.video .content {
    padding: 50px;
    color: #fff;
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 50%;
    width: 100%;
    background-color: var(--transparent-color);
    transform: translateY(-50%);
}

.video .content h2 {
    font-weight: normal;
    margin: 0;
}

.video .content p {
    margin: 20px 0;
}

.video .content a {
    background-color: #000;
    padding: 10px 15px;
}

/* About Section */
.about {
    padding-bottom: 0;
    text-align: center;
    overflow: hidden;
}

.about img {
    position: relative;
    max-width: 100%;
    margin-top: -120px;
    bottom: -120px;
}

@media (max-width: 767px) {
    .about img {
        margin-top: -60px;
        bottom: -60px;
    }
}